.main_container{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.board-row{
  display: flex;
  
  align-items: center;

}
.board-container{
  margin:20px;
}
.btn{
  background-color: rgb(32, 145, 32);
  color: white;
  border-radius: 3px;
  border: hidden;
  width: 15vw;
  height: 3.5vh;
  margin-top: 15px;
}