.App{
  background-color: rgb(204, 224, 173) ;
}



.linkcontainer{
  display: flex;
  flex-direction: row;align-items: center;
  justify-content: space-around;
  border: 2px solid black;
  background:rgb(73, 166, 166);
  width: 100vw;
  height: 10vh ;
  font-size: 20px;
  font-weight: bold;
  text-decoration: none;
}

  
  
